<h1 class="page-header">Shipping Policies:</h1>

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">

        <h5><em>All payments and shipping processed using Paypal.</em></h5>

        <div class="wsb-htmlsnippet-element"><!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo --></div>



        <div class="panel panel-default" style="margin-top: 2em;">
            <div class="panel-heading">
                <h2>US First Class Shipping (2-5 days):</h2>
            </div>
            <div class="panel-body shipping-info">
                <ul class="list-unstyled">
                    <li><strong>$3</strong> &nbsp;<span class="fa fa-arrow-right"></span>&nbsp; Orders up to $25</li>
                    <li><strong>$5</strong> &nbsp;<span class="fa fa-arrow-right"></span>&nbsp; Orders $25.01 - $50</li>
                    <li><strong>$8</strong> &nbsp;<span class="fa fa-arrow-right"></span>&nbsp; Orders $50.01 - $100</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Priority Main Shipping (1-3 days):</h2>
            </div>
            <div class="panel-body shipping-info">
                <ul class="list-unstyled">
                    <li><strong>$6.50</strong>  &nbsp;<span class="fa fa-arrow-right"></span>&nbsp; for all orders</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>International Shipping (Canada only):</h2>
            </div>
            <div class="panel-body shipping-info">
                <ul class="list-unstyled">
                    <li><strong>$8.00 USD</strong> &nbsp;<span class="fa fa-arrow-right"></span>&nbsp; for all orders</li>
                </ul>
            </div>
        </div>
    </div>
</div>

