.category-container {
  .item {

    margin-bottom: 2rem;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.47);

    //min-height: 15rem;

    @media(max-width: 450px){
      height: 10rem;
    }

    .item-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 35%;
      //min-width: 15rem;

      height: 15rem;

      @media(max-width: 450px){
        //min-width: 8rem;
        width: 8rem;
        height: 8rem;
      }

    }

    .item-info {

      width: 100%;
      float: left;
      padding: 3rem 6rem 3rem 40%;

      @media(max-width: 450px){
        padding: 2rem 2rem 2rem 10rem;
      }
    }
  }
}
