<h1 class="page-header">{{::CatCtrl.category.name}}</h1>

<div class="row category-container">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="item" ng-repeat="item in CatCtrl.items track by item._id">

            <div class="item-info">

                <p class="pull-right">{{::item.price | currency}}</p>
                <p class="pull-right" style="clear:both;"><a href="" class="btn btn-primary btn-xs">paypal</a></p>

                <h3 style="margin-top: 0">{{::item.name}}</h3>
                <p ng-if="item.options.length" style="width: 50%;">
                    <label class="control-label">Select Style</label>
                    <select class="form-control" ng-model="item.selectedOption" ng-options="opt for opt in item.options"></select>
                </p>

            </div>

            <div class="item-image" ng-style="CatCtrl.imgBgStyle(item)">
                &nbsp;
            </div>
        </div>
    </div>
</div>
