<h1 class="page-header">Sign In</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <div class="alert alert-danger" role="alert" ng-show="act.err"><span>{{act.err | json}}</span></div>

        <div class="panel panel-info">
            <div class="panel-body">
                <form ng-submit="act.authenticate()" name="act.authForm" novalidate>

                    <div class="form-group"
                         ng-class="{'has-success':act.authForm.username.$valid && act.authForm.$submitted,
                                    'has-error': act.authForm.username.$invalid && act.authForm.$submitted}">

                        <input ng-disabled="act.waiting" required type="text" ng-model="act.auth.username" class="form-control" name="username" id="username" placeholder="username"/>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-success':act.authForm.pass.$valid && act.authForm.$submitted,
                                    'has-error': act.authForm.pass.$invalid && act.authForm.$submitted}">

                        <input ng-disabled="act.waiting" required type="password" ng-model="act.auth.password" class="form-control" name="pass" id="pass" placeholder="password"/>
                    </div>

                    <input ng-disabled="act.waiting" type="submit" value="Sign In" class="btn btn-primary default-bg-color"/>


                </form>
            </div>
        </div>

        <p ng-show="act.waiting">Loggin in...</p>

    </div>
</div>

