<h1 class="page-header">Upcoming Events</h1>

<h3 style="padding-bottom: 2rem;">The Bee Hive is very busy this year. Come see us at one of the shows!!</h3>

<div class="row">

    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <div class="event" ng-repeat="event in evt.events track by event.eventDate">
            <h2 class="event-title">{{::event.name}}</h2>
            <p>{{evt.formatDate(event.eventDate)}}</p>
            <p>{{::event.where}}</p>
        </div>
    </div>


    <div class="hidden-xs col-sm-4 col-sm-offset-1">
        <img src="img/shows.jpg" alt=""/>
    </div>


</div>