<h1 class="page-header">Contact Us</h1>

<div class="row">
    <div class="hidden-xs col-sm-4 col-sm-offset-1">
        <img src="img/doll.jpg" alt=""/>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">

        <h2 ng-if="contact.sent">Thank You {{::contact.ct.name}}!  We'll get back to you shortly.</h2>
        <div class="alert alert-danger" role="alert" ng-show="contact.err"><h3>{{contact.err}}</h3></div>

        <form ng-submit="contact.send()" name="contact.ctForm" novalidate class="contact-form" ng-if="!contact.sent">

            <!-- NAME -->
            <div class="form-group"
                    ng-class="{'has-success': contact.ctForm.namey.$valid && contact.ctForm.$submitted,
                                'has-error': contact.ctForm.namey.$invalid && contact.ctForm.$submitted}">

                <label for="namey" class="control-label">Name &nbsp;<sup class="text-danger fa fa-asterisk tiny"></sup></label>

                <ng-messages for="contact.ctForm.namey.$error" ng-show="contact.ctForm.$submitted" role="alert">
                    <ng-message class="text-danger" when="required">Name is required.</ng-message>
                </ng-messages>

                <input type="text"
                       ng-disabled="contact.waiting"
                       ng-model="contact.ct.name"
                        id="namey" name="namey"
                        class="form-control"
                        placeholder="Name" required/>
            </div>

            <!-- EMAIL -->
            <div class="form-group"
                 ng-class="{'has-success': contact.ctForm.email.$valid && contact.ctForm.$submitted,
                                'has-error': contact.ctForm.email.$invalid && contact.ctForm.$submitted}">

                <label for="email" class="control-label">Email &nbsp;<sup class="text-danger fa fa-asterisk tiny"></sup></label>

                <ng-messages for="contact.ctForm.email.$error" ng-show="contact.ctForm.$submitted" role="alert">
                    <ng-message class="text-danger" when="required">Email is required.</ng-message>
                    <ng-message class="text-danger" when="email">Please enter a valid email address.</ng-message>
                </ng-messages>

                <input type="email"
                       ng-disabled="contact.waiting"
                       ng-model="contact.ct.email"
                       id="email" name="email"
                       class="form-control"
                       placeholder="Email" required/>
            </div>

            <!-- SUBJECT -->
            <div class="form-group"
                 ng-class="{'has-success': contact.ctForm.subject.$valid && contact.ctForm.$submitted,
                                'has-error': contact.ctForm.subject.$invalid && contact.ctForm.$submitted}">

                <label for="subject" class="control-label">Subject &nbsp;<sup class="text-danger fa fa-asterisk tiny"></sup></label>

                <ng-messages for="contact.ctForm.subject.$error" ng-show="contact.ctForm.$submitted" role="alert">
                    <ng-message class="text-danger" when="required">Subject is required.</ng-message>
                </ng-messages>

                <input type="text"
                       ng-disabled="contact.waiting"
                       ng-model="contact.ct.subject"
                       id="subject" name="subject"
                       class="form-control"
                       placeholder="Subject" required/>
            </div>


            <!-- MESSAGE -->
            <div class="form-group"
                 ng-class="{'has-success': contact.ctForm.message.$valid && contact.ctForm.$submitted,
                                'has-error': contact.ctForm.message.$invalid && contact.ctForm.$submitted}">

                <label for="message" class="control-label">Message &nbsp;<sup class="text-danger fa fa-asterisk tiny"></sup></label>

                <ng-messages for="contact.ctForm.message.$error" ng-show="contact.ctForm.$submitted" role="alert">
                    <ng-message class="text-danger" when="required">Message is required.</ng-message>
                </ng-messages>

                <textarea
                        ng-disabled="contact.waiting"
                       ng-model="contact.ct.message"
                       id="message" name="message"
                       class="form-control"
                       rows="5"
                       placeholder="Message" required>
                </textarea>
            </div>

            <input ng-disabled="contact.waiting" type="submit" class="btn btn-primary contact-btn"/>

        </form>

        <p ng-show="contact.waiting">Processing...</p>
    </div>
</div>