@import '_vars';

@menu-hover: lighten(@main-blue, 10%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//fix bootstrap
ul, ol {
  margin: 0;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

html, body {
  background-color: @sorta-white;
  font-family: 'Port Lligat Slab',serif;
  font-size: 1rem;

}

h1, h2, h3, h4, h5, h6 {
  color: @main-blue;
  font-weight: bolder;
}

.nav-menu {

  @media (min-width: @screen-sm) {
    display: block;
  }

  //padding: 0 5%;

  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background-color: @main-blue;

  color: @sorta-white;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;

    li {

      &:first-child {
        padding-left: 5rem;
        background: url('../img/bhhb_logo.png');
        background-color: @main-blue;
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
      }

      a {

        display: block;
        padding: 1rem;
        font-size: 1.5rem;

        &.active {
          background-color: @menu-hover;
        }

        &:hover {
          background-color: @menu-hover
        }
      }

    }
  }
}

.default-bg-color {
  background-color: @main-blue;
}

.default-color {
  color: @main-blue;
}

#portal {
  padding-top: 3rem;
  min-width: 360px;

  @media (min-width: 845px) {
    //padding-top: 5rem;
  }
}

a.btn {
  color: @sorta-white;
}

.shipping-info {
  li {
    font-size: 1.5em;
  }
}

.tiny {
  font-size: 0.5em;
}

.contact-btn {
  background-color: @main-blue;
}

.event {
  margin-top: 2em;

  .event-title {
    color: #c79e4c;
  }

  p {
    color: #84724e;
  }
}

