@import '../../styles/_vars';


#adminTitle {
  background-color: #fffb99;
  width: 100%;
  position: absolute;
  left: 0;
  top: 1.8em;
  padding: 0.25em;
  z-index: 4;
}

.admin-container {

  margin-top: 5em;
  
  a.admin-nav {
    font-size: 2em;
    background-color: @main-blue;
    margin-bottom: 0.5em;
  }

}

.item-table {
  td img {
    max-height: 8rem;
  }
}