<h2 id="adminTitle">Administration Mode &nbsp; <span class="fa fa-dashboard"></span> <a href="" ng-click="adm.logout()" class="pull-right">logout</a></h2>

<div class="admin-container" ui-view>


    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">

            <div class="alert alert-success" role="alert" ng-show="adm.success"><h2>{{adm.success}}</h2></div>
            <div class="alert alert-danger" role="alert" ng-show="adm.err"><h2>{{adm.err.data.message}}</h2></div>


            <a ui-sref="admin.items" class="btn btn-block btn-primary admin-nav"><span class="fa fa-shopping-cart"></span> &nbsp; Show Items</a>
            <a ui-sref="admin.new-item" class="btn btn-block btn-primary admin-nav"><span class="fa fa-shopping-cart"></span> &nbsp; Add Item</a>
            <a ui-sref="admin.events" class="btn btn-block btn-primary admin-nav"><span class="fa fa-calendar"></span> &nbsp; Show Events</a>
            <a ui-sref="admin.new-event" class="btn btn-block btn-primary admin-nav"><span class="fa fa-calendar"></span> &nbsp; New Event</a>
            <a ui-sref="admin.messages" class="btn btn-block btn-primary admin-nav"><span class="fa fa-envelope"></span> &nbsp; Messages</a>
            <!--<a ui-sref="admin.new-category" class="btn btn-block admin-nav" style="margin-top: 5em; background-color: #a2becf;">Add Category</a>-->
        </div>

    </div>

</div>