<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <ol class="breadcrumb">
            <li><a ui-sref="admin">Admin Menu</a></li>
            <li class="active">Messages</li>
        </ol>

        <h3>Messages</h3>

        <p ng-hide="adm.messages.length">No Messages here :)</p>

        <div ng-repeat="message in adm.messages track by $id(message)">

            <div class="panel panel-info">
                <div class="panel-heading"><h4>{{::message.subject}}</h4></div>
                <div class="panel-body">
                    <button class="btn btn-xs btn-danger pull-right" ng-click="adm.deleteMessage(message)"><span class="fa fa-trash"></span></button>
                    <p>Sender: &nbsp; <em>{{::message.name}}</em></p>
                    <p>Sender Email: &nbsp; <em><a ng-href="mailto:{{::message.email}}?subject=RE: {{::message.subject}}">{{::message.email}}</a></em></p>
                    <div>
                        <pre>{{::message.message}}</pre>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>