<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <ol class="breadcrumb">
            <li><a ui-sref="admin">Admin Menu</a></li>
            <li class="active">Show Events</li>
        </ol>

        <h3>Current Events</h3>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Event Location</th>
                    <th>Event Date</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in adm.events track by event.eventDate">
                    <td>{{::event.name}}</td>
                    <td>{{::event.where}}</td>
                    <td>{{adm.formatDate(event.eventDate)}}</td>
                    <td>
                        <button class="btn btn-xs btn-danger" ng-click="adm.deleteEvent(event)"><span class="fa fa-trash"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

