<script type="text/ng-template" id="customErrors">
    <ng-message class="text-danger" when="required">This field is required</ng-message>
</script>


<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">


        <ol class="breadcrumb">
            <li><a ui-sref="admin">Admin Menu</a></li>
            <li class="active">New Event</li>
        </ol>

        <h3>List a new Event</h3>
        <hr/>

        <form class="item-form" ng-submit="adm.saveEvent()" name="adm.eventForm" novalidate>

            <!--NAME-->
            <div class="form-group"
                 ng-class="{'has-success': adm.eventForm.namey.$valid && adm.eventForm.$submitted, 'has-error': adm.eventForm.namey.$invalid && adm.eventForm.$submitted}">

                <label class="control-label" for="namey">Event Name</label>

                <ng-messages for="adm.eventForm.namey.$error" ng-show="adm.eventForm.$submitted" role="alert">
                    <span ng-messages-include="customErrors"></span>
                </ng-messages>

                <input ng-model="adm.event.name" class="form-control" type="text" placeholder="Event Name" name="namey"
                       id="namey" required/>
            </div>


            <!-- WHEN -->
            <div class="form-group"
                 ng-class="{'has-success': adm.eventForm.eventDate.$valid && adm.eventForm.$submitted, 'has-error': adm.eventForm.eventDate.$invalid && adm.eventForm.$submitted}">

                <label for="eventDate" class="control-label">Event Date</label>

                <ng-messages for="adm.eventForm.eventDate.$error" ng-show="adm.eventForm.$submitted" role="alert">
                    <span ng-messages-include="customErrors"></span>
                </ng-messages>

                <input ng-model="adm.event.eventDate" type="date" class="form-control" id="eventDate"
                       name="eventDate" required/>
            </div>
            

            <!-- WHERE -->
            <div class="form-group"
                 ng-class="{'has-success': adm.eventForm.where.$valid && adm.eventForm.$submitted, 'has-error': adm.eventForm.where.$invalid && adm.eventForm.$submitted}">

                <label for="where" class="control-label">Event Location</label>

                <ng-messages for="adm.eventForm.where.$error" ng-show="adm.eventForm.$submitted" role="alert">
                    <span ng-messages-include="customErrors"></span>
                </ng-messages>


                <input ng-model="adm.event.where" type="text" class="form-control" placeholder="Event Location"
                       id="where" name="where" required/>
            </div>



            <input type="submit" class="btn btn-primary"/>
        </form>


    </div>
</div>



