<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="alert alert-success" role="alert" ng-show="adm.success"><h2>{{adm.success}}</h2></div>
        <div class="alert alert-danger" role="alert" ng-show="adm.err"><h2>{{adm.err.data.message}}</h2></div>


        <ol class="breadcrumb">
            <li><a ui-sref="admin">Admin Menu</a></li>
            <li class="active">Add Category</li>
        </ol>

        <h3>Add a new Item Category</h3>
        <hr/>


        <form ng-submit="adm.saveCategory()" class="cat-form" name="adm.catForm" novalidate>

            <!-- NAME -->
            <div class="form-group"
                 ng-class="{'has-success': adm.catForm.name.$valid && adm.catForm.$submitted, 'has-error': adm.catForm.name.$invalid && adm.catForm.$submitted}">

                <label for="name" class="control-label">Category Name</label>

                <ng-messages for="adm.catForm.name.$error" ng-show="adm.catForm.$submitted" role="alert">
                    <ng-message class="text-danger" when="required">This field is required</ng-message>
                </ng-messages>

                <input type="text" ng-model="adm.category.name" class="form-control" placeholder="Category Name"
                       name="name" id="name" required/>

            </div>


            <!-- CAPTION -->
            <div class="form-group"
                 ng-class="{'has-success': adm.catForm.caption.$valid && adm.catForm.$submitted, 'has-error': adm.catForm.caption.$invalid && adm.catForm.$submitted}">

                <label for="caption" class="control-label">Category Caption</label>

                <ng-messages for="adm.catForm.caption.$error" ng-show="adm.catForm.$submitted" role="alert">
                    <ng-message class="text-danger" when="required">This field is required</ng-message>
                </ng-messages>

                <textarea ng-model="adm.category.caption" class="form-control" placeholder="Category Caption"
                       name="caption" id="caption" required></textarea>

            </div>



            <!-- ORDER -->
            <div class="form-group"
                 ng-class="{'has-success': adm.catForm.order.$valid && adm.catForm.$submitted, 'has-error': adm.catForm.order.$invalid && adm.catForm.$submitted}">

                <label for="order" class="control-label">Category Order</label>

                <ng-messages for="adm.catForm.order.$error" ng-show="adm.catForm.$submitted" role="alert">
                    <ng-message class="text-danger" when="required">This field is required</ng-message>
                    <ng-message class="text-danger" when="number">Enter a valid number</ng-message>
                </ng-messages>

                <input type="number" ng-model="adm.category.order" class="form-control" placeholder="Category Order"
                       name="order" id="order" required/>

            </div>

            <input type="submit" class="btn btn-primary"/>
        </form>

    </div>
</div>