<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <ol class="breadcrumb">
            <li><a ui-sref="admin">Admin Menu</a></li>
            <li class="active">Show Items</li>
        </ol>

        <h3>Current Items</h3>


        <div class="table-responsive item-table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th >&nbsp;</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tr ng-repeat="item in adm.items track by item._id">
                    <td><img ng-src="{{::item.imgUrl}}" alt="" class="img-responsive img-thumbnail"/></td>
                    <td>{{::item.name}}</td>
                    <td>{{::adm.findCategoryAttributeById(item.categoryId, 'name')}}</td>
                    <td>{{::item.price | currency}}</td>
                    <td>
                        <button class="btn btn-xs btn-danger" ng-click="adm.deleteItem(item)"><span class="fa fa-trash"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
