<script type="text/ng-template" id="customErrors">
    <ng-message class="text-danger" when="required">This field is required</ng-message>
    <ng-message class="text-danger" when="url">Please enter a valid URL</ng-message>
    <ng-message class="text-danger" when="number">Please enter a valid number</ng-message>
</script>


<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">


        <ol class="breadcrumb">
            <li><a ui-sref="admin">Admin Menu</a></li>
            <li class="active">Add Item</li>
        </ol>

        <h3>List a new Item for sale</h3>
        <hr/>

        <form class="item-form" ng-submit="adm.saveItem()" name="adm.itemForm" novalidate>

            <!--IMAGE URL-->
            <div class="form-group"
                 ng-class="{'has-success': adm.itemForm.imgUrl.$valid && adm.itemForm.$submitted, 'has-error': adm.itemForm.imgUrl.$invalid && adm.itemForm.$submitted}">

                <label class="control-label" for="imgUrl">Image URL</label>

                <ng-messages for="adm.itemForm.imgUrl.$error" ng-show="adm.itemForm.$submitted" role="alert">
                    <span ng-messages-include="customErrors"></span>
                </ng-messages>

                <input ng-model="adm.item.imgUrl" class="form-control" type="url" placeholder="Image URL" name="imgUrl"
                       id="imgUrl" required/>
            </div>


            <!-- PRICE -->
            <div class="form-group"
                 ng-class="{'has-success': adm.itemForm.price.$valid && adm.itemForm.$submitted, 'has-error': adm.itemForm.price.$invalid && adm.itemForm.$submitted}">

                <label for="price" class="control-label">Price</label>

                <ng-messages for="adm.itemForm.price.$error" ng-show="adm.itemForm.$submitted" role="alert">
                    <span ng-messages-include="customErrors"></span>
                </ng-messages>

                <input ng-model="adm.item.price" type="number" class="form-control" placeholder="Price" id="price"
                       name="price" required/>
            </div>


            <!-- NAME -->
            <div class="form-group" ng-class="{'has-success': adm.itemForm.$submitted}">
                <label for="name" class="control-label">Name</label>
                <input ng-model="adm.item.name" type="text" class="form-control" placeholder="Name (optional)" id="name"
                       name="name"/>
            </div>


            <!-- PAYPAL LINK -->
            <div class="form-group"
                 ng-class="{'has-success': adm.itemForm.paypalLink.$valid && adm.itemForm.$submitted, 'has-error': adm.itemForm.paypalLink.$invalid && adm.itemForm.$submitted}">

                <label for="paypalLink" class="control-label">Paypal Link</label>

                <ng-messages for="adm.itemForm.paypalLink.$error" ng-show="adm.itemForm.$submitted" role="alert">
                    <span ng-messages-include="customErrors"></span>
                </ng-messages>


                <input ng-model="adm.item.paypalLink" type="text" class="form-control" placeholder="Paypal Link"
                       id="paypalLink" name="paypalLink" required/>
            </div>


            <!-- CATEGORY -->
            <div class="form-group"
                 ng-class="{'has-success': adm.itemForm.category.$valid && adm.itemForm.$submitted, 'has-error': adm.itemForm.category.$invalid && adm.itemForm.$submitted}">

                <label for="category" class="control-label">Category</label>

                <ng-messages for="adm.itemForm.category.$error" ng-show="adm.itemForm.$submitted" role="alert">
                    <span ng-messages-include="customErrors"></span>
                </ng-messages>

                <select class="form-control" ng-model="adm.item.categoryId"
                        ng-options="cat._id as cat.name for cat in adm.categories" id="category" name="category"
                        required></select>
            </div>


            <!-- OPTIONS -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <label for="options" class="form-label">Options</label>

                    <div id="options" class="form-group">

                        <input style="margin-top: 2em;" ng-repeat="opt in adm.optionModel track by $index" type="input" ng-model="adm.optionModel[$index]"
                               class="form-control" placeholder="special option (optional)"/>
                    </div>

                    <a href="" class="btn btn-info btn-xs" ng-click="adm.addOption()">add option</a>
                </div>
            </div>


            <input type="submit" class="btn btn-primary"/>
        </form>


    </div>
</div>



