<div ng-class="{'menu-active': mobi.showMenu}">
    <nav>
        <ul>
            <li ng-repeat="item in mobi.menuItems track by $id(item)" ng-class="{separator: item.separator}">
                <a ng-click="mobi.showMenu = false" ng-href="#/{{::item.urlSeg}}">{{::item.value}}</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        <span ng-click="mobi.showMenu = !mobi.showMenu" class="menu-btn fa fa-bars"></span>
        <ng-transclude></ng-transclude>
    </div>
</div>