@menu-width: 18em;

mobile-menu {

  //bootstrap's phone size
  @media (min-width: 768px) {
    //display: none;
  }

  nav {
    //background: #556270;
    //color: #353d46;
    position: fixed;
    top: 0;
    left: (@menu-width - 10 ) * -1;
    bottom: 0;
    display: block;
    float: left;
    width: 100%;
    max-width: @menu-width;
    height: 100%;
    transition: left 300ms;

    > ul {
      display: block;
      margin: 40px;
      padding: 0;
      list-style: none;
      opacity: 0.5;
      transition: all 300ms;

      li {
        //color: #dfe5eb;
        padding: 6px 0;
        //cursor: pointer;

        &:hover {
          //color: #59e9df;
        }

        a, a:hover {
          text-decoration: underline;
        }

        &:before {
          display: inline-block;
          text-decoration: inherit;
          width: 1em;
          //color: #59e9df;
          margin-right: 12px;
          text-align: center;
          font-size: 0.75em;
          line-height: 1em;
        }

        &.separator {
          margin-top: 7px;
          padding-top: 14px;
          border-top: 1px solid #6b7b8d;
        }
      }

    }
  }

  .content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow: scroll;
    background: #fcfeff;
    transition: all 300ms;

    span.menu-btn {
      //position: fixed;
      top: 10px;
      left: 10px;
      width: 36px;
      height: 36px;
      background: #dfe5eb;
      cursor: pointer;
      border-radius: 5px;
      transition: all 300ms;

      &:before {
        display: inline-block;
        width: 36px;
        height: 36px;
        color: black;
        font-size: 1.2em;
        text-align: center;
        text-transform: none;
        line-height: 36px;
      }

      &:hover {
        background: #556270;

        &:before {
          color: #fcfeff;
        }
      }
    }

    //bootstrap's phone size
    @media (min-width: 768px) {
      span.menu-btn {
        display: none;
      }
    }

  }

  .menu-active {
    nav {
      left: 0;

      ul {
        left: 0;
        opacity: 1;
      }
    }

    .content {
      left: @menu-width;
    }

  }

}

