<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Port+Lligat+Slab|Open+Sans+Condensed:300|Piedra">
    <link rel="stylesheet" href="style/vendor.css"/>
    <link rel="stylesheet" href="style/style.min.css"/>

    <script src="js/vendor.js"></script>

    <script>
        if (!Array.prototype.find) {
            Array.prototype.find = function(predicate) {
                if (this == null) {
                    throw new TypeError('Array.prototype.find called on null or undefined');
                }
                if (typeof predicate !== 'function') {
                    throw new TypeError('predicate must be a function');
                }
                var list = Object(this);
                var length = list.length >>> 0;
                var thisArg = arguments[1];
                var value;

                for (var i = 0; i < length; i++) {
                    value = list[i];
                    if (predicate.call(thisArg, value, i, list)) {
                        return value;
                    }
                }
                return undefined;
            };
        }
    </script>
</head>
<body ng-app="beehive" ng-controller="MainCtrl as main" ng-cloak>

<mobile-menu menu-items="main.categories">

    <div class="nav-menu" role="navigation">
        <ul>
            <li ng-repeat="cat in main.categories track by $id(cat)">
                <a ng-class="main.isActiveLink(cat)" ng-href="#/{{::cat.urlSeg}}">{{::cat.value}}</a>
            </li>
        </ul>
    </div>

    <div class="container" id="portal" ui-view></div>
</mobile-menu>


<script src="js/app.min.js"></script>

</body>
</html>