#home {
  margin-top: 3rem;


  @media(max-width: 1123px){
    margin-top: 6rem;
  }

  @media(max-width: 767px){
    margin-top: 0;
  }


  .home-thumb {
    font-size: 1.8em;


    h1 {
      font-size: 3rem;
    }

  }
}
