<div id="home">

    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="img/bhhb_logo.png" alt="" style="max-height: 20rem;"/>
        </div>
        <div class="col-xs-12 col-sm-5 hidden-xs" style="max-height: 20rem;">


            <div id="beehiveCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#beehiveCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#beehiveCarousel" data-slide-to="1"></li>
                    <li data-target="#beehiveCarousel" data-slide-to="2"></li>
                    <li data-target="#beehiveCarousel" data-slide-to="3"></li>
                    <li data-target="#beehiveCarousel" data-slide-to="4"></li>
                    <li data-target="#beehiveCarousel" data-slide-to="5"></li>
                    <!--<li data-target="#beehiveCarousel" data-slide-to="6"></li>-->
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" style="max-height: 20rem;">
                    <div class="item active">
                        <img src="img/slide1.jpg" alt="doll">
                    </div>
                    <div class="item">
                        <img src="img/slide2.jpg" alt="shows img">
                    </div>
                    <div class="item">
                        <img src="img/slide3.jpg" alt="shows img">
                    </div>
                    <div class="item">
                        <img src="img/slide4.jpg" alt="shows img">
                    </div>
                    <!--<div class="item">
                        <img src="img/slide5.jpg" alt="shows img">
                    </div>-->
                    <div class="item">
                        <img src="img/slide6.jpg" alt="shows img">
                    </div>
                    <div class="item">
                        <img src="img/slide7.jpg" alt="shows img">
                    </div>
                </div>

                <!-- Controls -->
                <!--<a class="left carousel-control" href="#beehiveCarousel" ng-click="home.noop($event)" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#beehiveCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>-->
            </div>


        </div>

        <div class="col-xs-12 col-sm-1 hidden-xs">


            <iframe scrolling="no" frameborder="0"
                    src="//www.facebook.com/plugins/likebox.php?locale=en_US&amp;href=https://www.facebook.com/BeeHiveHairBuzz&amp;width=236&amp;height=76&amp;show_faces=False&amp;colorscheme=light&amp;stream=False&amp;header=True&amp;border_color=%23D8DFEA"
                    allowtransparency="true"
                    style="border: medium none; overflow: hidden; width: 236px; height: 76px"></iframe>

            <br/>

            <!--<span style="min-width: 95px !important; display: inline-block;">
                <a data-pin-do="buttonFollow" href="http://www.pinterest.com/beehivehairbuzz/">The BeeHive</a>
            </span>
            &lt;!&ndash; Please call pinit.js only once per page &ndash;&gt;
            <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>-->

        </div>
    </div>

    <div class="row" style="margin-top: 4rem;">
        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="cat in home.categories track by cat._id">
            <div class="thumbnail">
                <img ng-src="img/{{::cat.urlSeg}}.jpg" class="img-thumbnail" alt="headbands"/>

                <div class="caption home-thumb default-color">
                    <h1>{{::cat.name}}</h1>

                    <p>{{::cat.caption}}</p>

                    <p><a ng-href="#/{{::cat.urlSeg}}" class="btn btn-primary btn-lg default-bg-color">View</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">

        <div class="wsb-htmlsnippet-element"><!-- PayPal Logo -->
            <table border="0" cellpadding="10" cellspacing="0" align="center">
                <tr>
                    <td align="center"></td>
                </tr>
                <tr>
                    <td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup"
                                          title="How PayPal Works"
                                          onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img
                            src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" border="0"
                            alt="PayPal Acceptance Mark"></a></td>
                </tr>
            </table>
            <!-- PayPal Logo --></div>
    </div>
</div>
